* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: cursive, monospace;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.sec_0 {
    background: url("../images/sep.png") no-repeat;
    background-size: cover;
    height: 10px;
}

.sec_1 {
    background: url("../images/banner.jpg") no-repeat;
}

.sec_1 header {
    background-color: #000;
    padding-bottom: 2%;
}

.sec_1 header .inner {
    width: 80%;
}

.sec_1 header .inner span {
    color: #fff;
    font-size: 1.5rem;
}

.sec_1 header .inner span:first-child {
    float: right;
    padding-right: 2%;
}

.sec_1 header .inner span:nth-child(2) {
    float: left;
    padding-left: 2%;
}

.sec_1 header .inner nav input {
    display: none;
}

.sec_1 header .inner nav ul {
    list-style-type: none;
    display: none;
}

.sec_1 header .inner nav input:checked + ul {
    display: block;
}

.sec_1 header .inner nav ul li a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 2%;
    color: white;
    text-align: center;
}

.sec_1 header .inner nav ul li:last-child {
    display: flex;
    justify-content: center;
}

.sec_1 header .inner nav ul li:last-child a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
}

aside .inner {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

aside .inner h6 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

aside .inner h1 {
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.5rem;
}

aside .inner h1:nth-of-type(2) {
    color: #ef6262;
}

.inner .btn-light {
    border-radius: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 2%;
    text-decoration: none;
    background-color: #aaa;
    display: inline-block;
    padding: 2% 4%;
    color: #fff;
}

.sec_1 > div {
    background-color: #000;
}

.sec_1 > div .inner {
    width: 80%;
}

.sec_1 > div .inner article {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sec_1 > div .inner article h2 {
    color: orange;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 2%;
    font-size: 1rem;
}

.sec_1 > div .inner article p {
    font-size: 0.9rem;

    color: white;
    text-align: justify;
}

.sec_1 + a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #fec804;
}

/*section2****************/
.sec_2 {
    background-color: #fff;
    padding-top: 2%;
}

.sec_2 .inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sec_2 .inner h5 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}

.sec_2 .inner > div {
    margin-top: 2%;
}

.sec_2 .inner > div div {
    position: relative;
}

.sec_2 .inner > div article {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #aaaaaaab;
    background-color: #1f1d1d99;
    border: 1px solid #1f1d1d99;
    border-radius: 5px;
    padding: 1%;
    font-size: 0.8rem;
}

.sec_2 .inner > div div figure {
    background: linear-gradient(to bottom, yellow, #000);
    overflow: hidden;
    margin-bottom: 5%;
}


.sec_2 .inner > div div figure img {
    max-width: 100%;
    height: auto;
}

.sec_2 .inner > div div figure figcaption {
    padding: 4% 5% 4%;
    background-color: #000;
    transform: skew(0, 5deg);
    position: relative;
    bottom: 6px;

}

.sec_2 .inner > div div figure figcaption h5 {
    text-align: left;
    color: #fec804;
    font-weight: 600;
    text-transform: capitalize;
    transform: skew(0, -5deg);

}

.sec_2 .inner > div div figure figcaption p {
    color: white;
    font-size: 0.8rem;
    margin-top: 2%;
    text-align: justify;
    transform: skew(0, -5deg);
}

/*section3*****************/
.sec_3 {
    background-color: #000;
    padding-top: 3%;
    padding-bottom: 3%;
}

.sec_3 .inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sec_3 .inner h3 {
    color: #fec804;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5%;
}

.sec_3 .inner div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3%;
}

/*after sec3*/
.sec_3 + div {
    background: url("../images/sep.png") no-repeat;
    background-size: cover;
    padding: 4% 6%;
}

.sec_3 + div .inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.sec_3 + div .inner div:first-child {
    color: #fff;
    text-align: center;
}

.sec_3 + div .inner div:first-child h4 {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2%;
    font-size: 0.75rem;
}

.sec_3 + div .inner div:first-child h3 {
    font-size: 0.9rem;
}

.sec_3 + div .inner div:nth-child(2) {
    text-align: center;
}

.sec_3 + div .inner div:nth-child(2) a {
    margin-top: 4%;
    padding: 2%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 16px;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: 0.9rem;

}

/*section4*********************/

.sec_4 {
    background-color: #000;
    padding-top: 4%;
    padding-bottom: 4%;

}

.sec_4 > .inner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.sec_4 .inner h3 {
    color: white;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 3%;
    font-weight: 300;
}


.sec_4 > .inner p {
    color: #fff;
    text-transform: capitalize;
    text-align: justify;
    margin-bottom: 3%;
    font-weight: 300;
}


.sec_4 .inner > div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2%;
}

.sec_4 .inner > div > div article {
    background-color: #fec804eb;
    border: 1px solid #fec804eb;
    border-radius: 10px;
    margin-bottom: 3%;
    padding-bottom: 2%;
}

.sec_4 .inner > div > div article h4 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3%;
    /*    padding-left: 6%;*/
    padding-top: 4%;
}

.sec_4 .inner > div > div article p {
    text-transform: capitalize;
    text-align: center;
    font-size: 0.8rem;
    color: #fff;
    margin-bottom: 1%;
}

/*section5*************/
.sec_5 {
    background: url("../images/contactus.jpg") no-repeat center center;
    background-size: cover;
}

.sec_5 > div {
    background-color: #829ca57a;
    padding: 4%;

}

.sec_5 .inner {
    width: 80%;
}

.sec_5 .inner div h3 {
    color: #fec804;
    text-align: center;
    text-transform: capitalize;
}

.sec_5 .inner div p {
    color: #fff;
    text-align: justify;
    text-transform: capitalize;
}

.sec_5 .inner div {
    margin-bottom: 6%;
}

.sec_5 .inner form {
    padding: 4%;
    border: 1px solid #fec804;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #fec804;
}

.sec_5 .inner form * {
    width: 100%;
    text-transform: capitalize;
    padding: 2%;
    margin-bottom: 4%;
    outline: none;

}

.sec_5 .inner form input:last-child {
    background-color: #fec804;
    text-transform: uppercase;
    color: #110e0e73;
}
.sec_5 + div{
    background: url("../images/sep.png") no-repeat;
    background-size: cover;
    height:6px;
    border-top:2px solid #fff;
}
footer{
    background-color: #000;
    padding-top:5%;
    padding-bottom:5%;
}
footer .inner{
    width:80%;
}
footer .inner  div:first-child ,footer .inner div:last-child,footer .inner div:first-child ,footer .inner div:nth-child(2){
    text-align: center;
    font-size:1rem;
}
footer .inner >div:first-child ,footer .inner >div:nth-child(2){
    border-bottom: 1px solid #ccc;
    margin-bottom:2%;
}
footer .inner div:first-child p ,footer .inner div:nth-child(2) p {
     width:40%;
    margin-right:auto;
    margin-left:auto;
    color:white;
    margin-bottom:2%;
    text-transform: capitalize;
}

footer .inner div:nth-child(2) p {
    display:flex;
    justify-content: center; 
}
footer .inner div:first-child p a ,footer .inner div:nth-child(2) p a{
    color:white;
    text-decoration: none;
}

footer .inner div:last-child div span{
    color:#fff;
    font-size:1.2rem;
}
footer .inner div:last-child  input:first-of-type{
    outline: none;
    background-color:#000;
    color:#fff;
    outline: none;
    margin-right:auto;
    margin-left:auto;
    text-transform: capitalize;
    border:none;
    border-bottom: thin solid #aaa;
    margin-top:4%;
        margin-bottom:4%;
}
footer .inner div:last-child  input:last-of-type{
    border:thin solid black;
    border-radius:10px;
    background-color: #fff;
    padding:2%;
}



@media (min-width:768px) {
    .sec_1 {
        background-position: bottom center;
        background-size: cover;
    }

    .sec_1 header {
        padding-bottom: 0px;
    }

    .sec_1 header .inner > span {
        display: none;
    }

    .sec_1 header .inner {
        padding-bottom: 0;
    }

    .sec_1 header .inner nav ul,
    .sec_1 header .inner nav input:checked + ul {
        display: flex;
        justify-content: center;
        padding: 0.5% 2%;
    }

    .sec_1 header .inner nav ul li {
        width: 15%;
    }

    aside .inner {
        text-align: left;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .inner .btn-light {
        padding: 1% 2%;
    }

    aside .inner h6 {
        font-size: 0.8rem;
        font-weight: bold;
    }

    aside .inner h1 {
        font-size: 2rem;
        font-weight: bolder;
    }

    .sec_1 > div .inner article h2 {
        font-size: 1rem;
    }

    .sec_1 > div .inner article p {
        font-size: 0.8rem;
    }

    .sec_1 + a {
        font-size: 1.5rem;
    }

    /*section2*****************/
    .sec_2 {
        padding-bottom: 5%;
    }

    .sec_2 .inner > div {
        display: flex;
        justify-content: space-between;
    }

    .sec_2 .inner > div div {
        width: 32%;
    }

    /*section3****************/
    .sec_3 .inner h3 {
        font-size: 1.6rem;
    }

    .sec_3 .inner div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sec_3 .inner div img {
        width: 48%;
    }

    /*after sec3*/
    .sec_3 + div .inner {
        display: flex;
        justify-content: space-between;
    }

    .sec_3 + div .inner div:first-child {
        width: 70%;
    }

    .sec_3 + div .inner div:first-child h4,
    .sec_3 + div .inner div:first-child h3 {
        text-align: left;
    }

    .sec_3 + div .inner div:first-child h4 {
        font-size: 1.2rem;
    }

    .sec_3 + div .inner div:first-child h3 {
        font-size: 1.2rem;
    }

    .sec_3 + div .inner div:nth-child(2) {
        width: 40%;
        text-align: right;
        padding-top: 1%;
    }

    .sec_3 + div .inner div:nth-child(2) a {
        width: 45%;
        text-align: center;
    }

    /*section4***************/
    .sec_4 .inner h3 {
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 2%;
    }

    .sec_4 > .inner p {
        font-size: 1rem;

        text-align: justify;
        margin-bottom: 3%;
    }

    .sec_4 .inner > div {
        display: flex;
        justify-content: space-between
    }

    .sec_4 .inner > div img {
        max-width: 40%;
        height: auto;


    }

    .sec_4 .inner > div > div {
        max-width: 54%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .sec_4 .inner > div > div article {
        width: 50%;
        background-color: transparent;
        border-radius: 0;
        border: none;
        padding-bottom: 1%;
    }

    .sec_4 .inner > div > div article h4 {
        color: #fff;
        font-weight: 300;
        margin-bottom: 5%;
        padding-top: 6%;
        text-align: left;
    }

    .sec_4 .inner > div > div article p {
        text-transform: capitalize;
        font-size: 0.75rem;
        color: #fff;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1%;
        text-align: left;
    }

    /*    section 5********************/

    .sec_5 .inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .sec_5 .inner div {
        width: 55%;
        margin-bottom: 6%;
    }

    .sec_5 .inner form {
        width: 40%;
        align-self: center;
        padding: 2%;
    }

    .sec_5 .inner div h3 {
        text-align: left;
        margin-bottom: 3%;
    }

    .sec_5 .inner form input:last-child {
        margin-bottom: 2%;
    }

/*footer**********************/

footer .inner{
    width:80%;
    display:flex;
    justify-content: space-between;
}
    footer .inner >div{
        width:30%;
    }
footer .inner  div:first-child ,footer .inner div:last-child ,footer .inner div:nth-child(2){
    text-align: left;
    font-size:1.2rem;
}
footer .inner >div:first-child ,footer .inner >div:nth-child(2){
    border-bottom: none;
    margin-bottom:0px;
}
        footer .inner div:nth-child(2) p {
    justify-content: flex-start;
}
footer .inner div:first-child p ,footer .inner div:nth-child(2) p {
     width:100%;
    margin-right:auto;
    margin-left:auto;
}

footer .inner div:last-child  input:first-of-type{
    outline: none;
    background-color:#000;
    color:#fff;
    outline: none;
    margin-right:auto;
    margin-left:auto;
    text-transform: capitalize;
    border:none;
    border-bottom: thin solid #aaa;
    margin-top:4%;
        margin-bottom:4%;
}
footer .inner div:last-child  input:last-of-type{
    border:thin solid black;
    border-radius:10px;
    background-color: #fff;
    padding:2%;
}
footer .inner div:last-child div span{
    color:#fff;
    font-size:1.6rem;
}
    footer .inner div:last-child  input:last-of-type,footer .inner div:last-child  input:first-of-type{
        font-size:1.2rem;
    }

}

@media (min-width:992px) {
    .sec_1 {
        background-position: center center;
        background-size: cover;
    }

    .sec_1 header .inner nav ul {
        justify-content: flex-end;
    }

    .sec_1 header .inner nav ul li {
        width: 12%;
    }

    .sec_1 header .inner nav ul li:last-child a {
        font-size: 1rem;
        margin-right: 6%;
    }



    .sec_1 > div .inner article h2 {
        font-size: 1.4rem;
    }

    .sec_1 > div .inner article p {
        font-size: 1rem;
    }

    .sec_1 + a {
        font-size: 2rem;
    }

    /*section2**********************/
    .sec_2 .inner h5 {
        font-size: 1.9rem;
    }

    /*section 3****************/
    .sec_3 .inner h3 {
        font-size: 1.9rem;
    }

    .sec_3 .inner div img {
        width: 24%;
        margin-bottom: 1%;
    }

    /*after sec2*/
    .sec_3 + div .inner div:first-child h4 {
        font-size: 1.6rem;
    }

    .sec_3 + div .inner div:first-child h3 {
        font-size: 1.9rem;
    }

    .sec_3 + div .inner div:nth-child(2) {
        width: 38%;
        align-self: center;
        text-align: center;
    }

    .sec_3 + div .inner div:nth-child(2) a {
        width: 35%;
        margin-top: 0%;
        text-align: center;
    }

    /*section4*********************/
    .sec_4 .inner h3 {
        font-size: 2rem;
        text-align: left;
        margin-bottom: 2%;
    }

    .sec_4 .inner > p {
        font-size: 1.2rem;
    }

    .sec_4 .inner > div {
        display: flex;
        justify-content: space-between;
    }

    .sec_4 .inner > div > div article {
        width: 50%;
    }

    .sec_4 .inner > div > div article h4 {
        padding-top: 10%;
        margin-bottom: 6%;
        font-weight: 2rem;
    }

    .sec_4 .inner > div > div article p {
        font-size: 1.1rem;
    }

    /*    section 5*/
    .sec_5 .inner div {
        width: 60%;
        margin-bottom: 6%;
    }

    .sec_5 .inner form {
        width: 30%;
    }

    .sec_5 .inner div h3 {
        font-size: 1.6rem;
    }
      footer .inner div:nth-child(2) p {
    justify-content: flex-start;
}
    footer .inner div:last-child div span{
    color:#fff;
    font-size:1.8rem;
}
}

@media (min-width:1200px) {
    .inner {
        max-width: 1160px;
    }

}